<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <membership defaultProvider="InMemoryProvider">
      <providers>
        <add name="InMemoryProvider" 
             type="CustomMembershipProvider.Provider.InMemoryProvider, CustomMembershipProvider"
             minRequiredPasswordLength="6" 
             minRequiredNonalphanumericCharacters="0" 
             requiresQuestionAndAnswer="false" 
             maxInvalidPasswordAttempts="3" 
             passwordAttemptWindow="15"
             />
      </providers>
    </membership>
    <roleManager defaultProvider="InMemoryRoleProvider">
      <providers>
        <!--<add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />-->
        <add name="InMemoryRoleProvider"
             type="CustomMembershipProvider.Provider.InMemoryRoleProvider, CustomMembershipProvider"
        />

      </providers>
    </roleManager>
  </system.web>
</configuration>