<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <membership defaultProvider="InMemoryProvider">
      <providers>
        <add name="InMemoryProvider" 
             type="CustomMembershipProvider.Provider.InMemoryProvider, CustomMembershipProvider"
             minRequiredPasswordLength="6" 
             minRequiredNonalphanumericCharacters="0" 
             requiresQuestionAndAnswer="false" 
             maxInvalidPasswordAttempts="3" 
             passwordAttemptWindow="15"
             />
      </providers>
    </membership>
  </system.web>
</configuration>