<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-CustomMembershipProvider-20160507214802;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-CustomMembershipProvider-20160507214802.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="InMemoryProvider">
      <providers>
        <add name="InMemoryProvider" 
             type="CustomMembershipProvider.Provider.InMemoryProvider, CustomMembershipProvider" 
             connectionStringName="DefaultConnection" 
             minRequiredPasswordLength="6" 
             minRequiredNonalphanumericCharacters="0" 
             requiresQuestionAndAnswer="false" 
             maxInvalidPasswordAttempts="3" 
             passwordAttemptWindow="15"/>
      </providers>
    </membership>
  </system.web>
</configuration>